nav[data-toggle='toc'] {
  border: .1rem solid #f5f5f5;
  background-color: #ffffff;
  height: 100%;
}

nav[data-toggle='toc'] ul{
  padding: 1px 4px !important;
  list-style:none !important;
  list-style-type:none !important;
}

.sticky {
  position:fixed !important;
  position: absolute; /*ie6 */
  width: 20rem;
  height: 100%;
  right: 0;
  z-index: 100;
  border-top: 0;
  line-height: 1.1;
  overflow: auto; display: inline-block; /* scrollbars */
  box-shadow: -3px 6px 8px 0px rgba(0,0,0,0.1);
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* Set proper spacing with .main */

#main {
	margin-right: 20rem;
}

/* show TOC only on large screens */
@media (max-width: 1200px) {
  .sticky {
  transform:translate(9999px);
  opacity: 0;
  }
  #main {
	margin-right: 0;
  }
}



/*
 * Customizations of Bootstrap Table of Contents v0.4.1 (bootstrap-toc, with modifications)
 */
nav[data-toggle='toc'] .nav .nav > li > a {
  padding-bottom: 3px !important;
}

// add headers not defined in the bootstrap-toc style
.toc-nav-h1 {
  text-decoration: navy dotted underline;
  font-size: 15px !important;
  padding-left: 15px !important;
}
.toc-nav-h4 {
  font-size: 11px !important;
  padding-left: 40px !important;
}
.toc-nav-h5 {
  font-size: 11px !important;
  padding-left: 46px !important;
}
.toc-nav-h6 {
  font-size: 11px !important;
  padding-left: 52px !important;
}