#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
	margin-top: 2em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
	padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    width: 100%;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#TableOfContents {
	margin-left: -80px;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}